<div class="container">
  <div class="jumbotron">
    <h1>Editar Receta</h1>
  </div>

  <%= render 'form' %>

  <div class="container">
    <a><%= link_to 'Volver a las recetas', recipes_path %></a>
  </div>
</div>