<div class="container">
  <div class="jumbotron">
    <h1>Ingresar Nueva Receta</h1>
  </div>

    <%= render 'form' %>

  <div class="container">
    <%= link_to 'Volver a las recetas', recipes_path %>
  </div>

</div>