<div class="container text-center" ng-controller="rutinas">
    <div>
        <input type="text" ng-model="searchFilter">
    </div>

    <div class="card" ng-repeat="rutina in rutinas | filter: {musculo : searchFilter}">
        <img class="card-img-top img-responsive" src="/images/rutinas/espalda/espalda.jpeg">
        <div class="card-block">
            <h4 class="card-title">Descripcion: </h4>
            <p class="card-text">{{rutina.descripcion}}</p>
        </div>
        <div class="card-block">
            <h4 class="card-title">Musculos: </h4>
            <p class="card-text">{{rutina.musculo}}</p>
        </div>
    </div>
</div>