<div ng-controller="foro">
  <div class="container-foro">
      <div>
        <button class="btn btn-large btn-primary" ng-click="showWindowforPublic()">Publicar</button>
      </div>

      <div ng-include="'templates/windowPublicar.html'"></div>
      <div ng-include="'templates/windowComentar.html'"></div>

      <div class="container-publicaciones">
        <div class="container-publicacion border-show margin-show" ng-repeat="publicacion in publicaciones track by $index">
          <div>
            <p>Nombre: {{publicacion.nombre}}</p>
          </div>
          <div>
            <p>Tags: {{publicacion.tags}}</p>
          </div>
          <div>
            <p>Inquietud: </p> <p>{{publicacion.texto}}</p>
          </div>
          <div class="actions">
              <button class="btn btn-info" ng-click="verRespuestas(publicacion.id,$index)">Ver Respuestas</button>
              <button class="btn btn-info" ng-click="comentarios[$index] = {}">Ocultar Respuestas</button>
              <button class="btn btn-info" ng-click="showWindowComment(publicacion.id)">Comentar</button>
          </div>
          <div  ng-repeat="comment in comentarios[$index]">
            <div>
              <p>Nombre: </p> <p>{{comment.nombre}}</p>
            </div>
            <div>
              <p>Respuesta: </p> <p>{{comment.comentario}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>