<div class="jumbotron jumbotron-rutinas">
  <div class= "titulo-index">
    <h1>RUTINAS</h1>
    <p>Encuentra ejercicios específicos por músculo para que implementes dentro de tus rutinas.</p>
  </div>
</div>

<div class="container text-center" ng-controller="rutinas">
    <div class="search-rutina">
        <input type="text" placeholder="Buscar Rutina" ng-model="searchFilter">
    </div>
    <div class="container-cards">
      <div class="card-rutina" ng-repeat="rutina in rutinas | filter: {musculo : searchFilter}">
          <img class="card-img-top pointer img-responsive" ng-click="showRutina(rutina.id)" src="/images/rutinas/espalda/espalda.jpeg">
        <div class="block-rutina">
          <h6 class="card-title">Nombre: </h6>
          <p class="card-text">{{rutina.nombre}}</p>
        </div>
          <div class="block-rutina">
              <h6 class="card-title">Descripcion: </h6>
              <p class="card-text">{{rutina.descripcion}}</p>
          </div>
          <div class="block-rutina">
              <h6 class="card-title">Musculos: </h6>
              <p class="card-text">{{rutina.musculo}}</p>
          </div>
      </div>
    </div>
</div>