<div class="container text-center" ng-controller="rutinaEspecifica">
    <div class="container-rutina">
        <img class="img-responsive" src="/images/rutinas/espalda/espalda.jpeg">
        <div class="rutina-description">
            <h4>Descripcion: </h4>
            <p>{{rutina.descripcion}}</p>
        </div>
        <div class="rutina-musculo">
            <h4>Musculos: </h4>
            <p>{{rutina.musculo}}</p>
        </div>
    </div>
    <div>
        <button class="btn btn-info" ng-click="return()">Volver</button>
    </div>
</div>