<div class="jumbotron jumbotron-eventos">
  <div class="titulo-index-e">
    <h1>EVENTOS</h1>
    <p>Cada día trae su Aventura <br>
      <%= link_to 'Nuevo Evento', new_event_path,class:"btn btn-primary", style: "margin-top: 18px" %>
    </p>
  </div>
</div>

<div class="container">
  <%= form_tag events_path, :method => 'get', :id => "events_search" do %>
      <div class=" buscador " >
        <div>
          <%= text_field_tag :search, params[:search],placeholder: "Buscar lugar del evento",class:"form-control submit" %>
          <span> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        </div>
        <!-- <div style="display: inline-block" >
               %= submit_tag "Buscar lugar del evento", :name => nil,class:"btn btn-default" %></submit>
        </div>-->
      </div>
      <div id="events" >
        <%= render 'event' %>
      </div>
  <% end %>
</div>