<div class="jumbotron jumbotron-home">
  <div class= "titulo-home">
    <h1 class="h1-home">FITMOVE</h1>
    <p>Por un estilo de vida más que saludable.</p>
    <p>Un lugar donde podrás encontrar información para que comiences un cambio con tu estilo de vida <br>
      y al igual te apoyes con todos los tips de alimentación y ejercicio que podras encontrar.</p>
  </div>
</div>

<% unless  user_signed_in? %>
    <div class="container home-linkregistro">
      <%=link_to "Regístrate totalmente gratis y accede al mejor contenido FitMove", new_user_registration_path, class: "btn btn-primary btn-lg btn-block", style: 'font-size:30px' %>
    </div>
<% end %>

<div class="row">

  <div class="col-md-6">
    <div class="home-image-tip" style="background-image: url(https://photos-5.dropbox.com/t/2/AABdMgeijKqhSEZ5oOITs_4IjBs4XDAxElIU_xpPvJQJyw/12/589416381/jpeg/32x32/1/_/1/2/Landing_tips.jpg/EMnY0t8EGBAgAigC/sWc1GF1aap3ng7l05jhrX-pxrwX6JUszoYyHrDV-LuY?size=1600x1200&size_mode=3)">
    </div>
  </div>
  <div class="col-md-6" style="background-color:orange; height: 477px">
    <div class="home-description" >
      <h1 style="font-size: 3.5em; text-align: center">Tips</h1>
      <ul style="text-align: justify; margin-right: 40px">
        <li>Accede al mejor contenido y recomendaciones para realizar ejercicios ya sea en tu casa, gimnasio o el lugar en el que prefieras realizar tu entrenamiento.</li>
        <li>Encuentra información útil que te pueda ayudar a iniciar tu actividad deportiva.</li>
        <li>Aprende a llevar mejores hábitos de alimentación en tu día a día.</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6" style="background-color:limegreen; height: 477px">
    <div class="home-description" >
      <h1 style="font-size: 3.5em; text-align: center">Recetas</h1>
      <ul style="text-align: justify; margin-right: 40px">
        <li>Accede a las mejores recomendaciones para realizar ejercicios ya sea en tu casa, gimnasio o el lugar en el que prefieras realizar tu entrenamiento.</li>
        <li>Encuentra información útil que te pueda ayudar a iniciar tu actividad deportiva.</li>
        <li>Aprende a llevar mejores hábitos de alimentación en tu día a día.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="home-image-tip" style="background-image: url(https://photos-3.dropbox.com/t/2/AAD4HSmz5VjOzmYicV6DzqbLAaNKQi98rswAvFgAaQBBKA/12/589416381/jpeg/32x32/1/_/1/2/Landing_alimentacion.jpg/EMnY0t8EGBAgAigC/ZTJv8s5h3ZuHoio3ZcnjPsUiisek-uTF043Nlt0--s8?size=1600x1200&size_mode=3)">
    </div>
  </div>

  <div class="col-md-6">
    <div class="home-image-tip" style="background-image: url(https://photos-2.dropbox.com/t/2/AAC9hIwhKzUaK1jUrc0OvmTs1FNyusk4M-qsWK7YiNyjRg/12/589416381/jpeg/32x32/1/_/1/2/Landing_ejercicios.jpg/EMnY0t8EGBAgAigC/ryIZLZygbnznm7p26MbZXzuvxMMxJ9DOUDrAzrhPg24?size=1600x1200&size_mode=3)">
    </div>
  </div>
  <div class="col-md-6" style="background-color:blueviolet; height: 477px">
    <div class="home-description" >
      <h1 style="font-size: 3.5em; text-align: center">Ejercicios</h1>
      <ul style="text-align: justify; margin-right: 40px">
        <li>Conoce ejercicios que puedes realizar dentro de tu rútina diaria.</li>
        <li>Aprende la correcta ejecución de los ejercicios dentro de tu entrenamiento, para que tengas mejores resultados.</li>
        <li>Visualiza diferentes técnicas de acuerdo al músculo que quieras trabajar.</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6" style="background-color:limegreen; height: 477px">
    <div class="home-description" >
      <h1 style="font-size: 3.5em; text-align: center">Eventos</h1>
      <ul style="text-align: justify; margin-right: 40px">
        <li>Crea tus propios eventos.</li>
        <li>Sal de la rútina y programa actividades externas con tus amigos y la comunidad de FitMove.</li>
        <li>Diviértete conociendo nuevos lugares y personas.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="home-image-tip" style="background-image: url(https://photos-1.dropbox.com/t/2/AAAb2rJI5RN2WLUnsJ2lVgjjw2kfb0mMjaLFoqnyXnax5Q/12/589416381/jpeg/32x32/1/_/1/2/landing_eventos.jpg/EMnY0t8EGBEgAigC/5TBztdrymKqtMds1-AnI9HtEdZC67ojlsGVgmCHapdU?size=1600x1200&size_mode=3)">
    </div>
  </div>

  <div class="col-md-6">
    <div class="home-image-tip" style="background-image: url(https://photos-2.dropbox.com/t/2/AABD78tmxyc_Zb9j-S6D2KTSaZMcanIuGknru8dD6Di57A/12/589416381/jpeg/32x32/1/_/1/2/landidng_foro.jpg/EMnY0t8EGBIgAigC/k5lzpV9pfGi9RHSWW2-Hxt93aI2lqykaEIetmnr3a4E?size=1600x1200&size_mode=3)">
    </div>
  </div>
  <div class="col-md-6" style="background-color:orange; height: 477px">
    <div class="home-description" >
      <h1 style="font-size: 3.5em; text-align: center">Foro</h1>
      <ul style="text-align: justify; margin-right: 40px">
        <li>Crea una comunidad con la cual puedas resolver dudas respecto a nutrición y deporte.</li>
        <li>Pregunta tus dudas y obten respuestas de la comunidad FitMove.</li>
        <li>Responde a las preguntas de los integrantes.</li>
      </ul>
    </div>
  </div>

</div>

<% unless user_signed_in? %>
    <div class="container home-linkregistro">
      <%=link_to "Regístrate totalmente gratis y accede al mejor contenido FitMove", new_user_registration_path, class: "btn btn-primary btn-lg btn-block", style: 'font-size:30px' %>
    </div>
<% end %>