//Natalia

.jumbotron-tips {
  background-image: url(https://photos-6.dropbox.com/t/2/AAADrVR63Gmtll2YIKJ8czs4KdM582JKSnPS2KyrwcVCgA/12/589416381/jpeg/32x32/1/_/1/2/jumbotron.jpg/EMnY0t8EGAkgAigC/ZSJCRMlEx1jawyvmeU5uvE-XlpoQ_SYM35drZ9cs6pc?size=1600x1200&size_mode=3);
  background-size: 100% 100%;
  height: 400px;
  margin-bottom: 30px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

.jumbotron-recipes {
  background-image: url(https://photos-1.dropbox.com/t/2/AAAaHxuOGGS2sJf5qpSwJQYMgDHSA-G74-NqLYsDS2dlig/12/589416381/jpeg/32x32/1/_/1/2/jumbotron_recetas.jpg/EMnY0t8EGAogAigC/tuClQ1IDvgOgcK_vIYowqhYrCxamqjV37LIgeXvIIyU?size=1600x1200&size_mode=3);
  background-size: 100% 100%;
  height: 400px;
  margin:0;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

.titulo-index {
  color: white;
  margin-top: 100px;
  text-align: center;
}

.link_nuevoalim {
  margin-top: 20px;
}

.buscador {
  text-align: center;
  margin-bottom: 40px;
}

.submit {
  display: inline-block;
  width: 300px;
}

.tarjeta {
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 1%;
  text-align: justify;
  width: 302px;
}

.img_alimentacion {
  position: relative;
  text-align: center;
  width: 100%;
}

.name_alimentacion {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 100%;
  color: white;
  text-align: left;
}

.descripcion {
  width: 300px;
  padding: 15px;
}

.links-tarjeta {
  border-top: 1px solid gainsboro;
  padding: 15px;
  color: orange;
}

.link_alimentos {
  margin-right: 1.0em;
  border-right: 1px solid gainsboro;
}

.show_alimentacion {
  margin-left: 114px;
  width: 80%;
}

.show_imagen {
  text-align: center;
}

.edit_new_guardar {
  margin-top: 20px;
}

