.jumbotron-rutinas {
	background-image: url(https://photos-3.dropbox.com/t/2/AAD1p9y8qYV37VxHskUNl0zZC8K1-YNGz9A_w0WUtypapg/12/589416381/jpeg/32x32/1/_/1/2/exercise.jpg/EMnY0t8EGBMgAigC/-r4xiaz8eeY9fKjPoOpKpcTwNgSZ2yfRh_WRspgl84A?size=1600x1200&size_mode=3);
	background-size: 100% 100%;
	height: 400px;
	margin-bottom: 30px;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.container-rutina{
    width: 50%;
    border: 1px solid rgb(206, 206, 206);
    text-align: justify;
    margin: auto;
    padding: 2.0rem 2.0rem 2.0rem 2.0rem;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}

.rutina-description, .rutina-musculo{
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 1.0rem;
}