.container-rutina{
    width: 50%;
    border: 1px solid rgb(206, 206, 206);
    text-align: justify;
    margin: auto;
    padding: 2.0rem 2.0rem 2.0rem 2.0rem;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}

.rutina-description, .rutina-musculo{
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 1.0rem;
}