
$color-background : #e9ebee;
@import "bootstrap";
@import "events";
@import "alimentacion";
@import "ejercicios";
@import "about";
@import "rutinaespecifica";
@import "foro";

* {
  box-sizing: border-box;
}

.container-cards{
  padding-bottom: 2.0rem;
  padding-top: 2.0rem;
  text-align: center;
}

.card-rutina{
  display: inline-block !important;
  margin-right: 1.5rem;
  margin-top:1.0rem;
  width: 20%;
  text-align: left;
  font-size: 0.8rem;
  -webkit-box-shadow: 10px 4px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 10px 4px 5px 0px rgba(204,204,204,1);
  box-shadow: 10px 4px 5px 0px rgba(204,204,204,1);
  border: 1px solid rgb(206, 206, 206);
}

.card-rutina .block-rutina{
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 0.5rem 1.0rem 0.5rem 1.0rem;
  text-align: justify;
}

.search-rutina input{
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border: 1px solid rgb(206, 206, 206);
}

.pointer{
  cursor: pointer;
  cursor: hand;
}

.img-responsive{
  width: 100%;
}

.container{
  background-color: white;
  padding-top: 1.0rem;
}

.read-more-text{
  color: blue;
  margin-bottom: 0px;
}

.read-more-text:hover{
  text-decoration: underline;
  cursor: pointer;
}

body{
  background-color: $color-background !important;
}
